.main-nav {
display: flex;
justify-content: space-evenly;
padding-top: 2%;
position: fixed;
width: 90%;


    
}

.logo {
    
    padding-left: 10%;
    
}


nav {
    display: flex;
    justify-content: space-evenly;
    padding-left: 30%;
    min-width: 50%;
    padding-top: 2%;
 
    
}

.nav-link {
    color: white;
    text-decoration: none;
}

#logo {
    width: 50%;
}