


#cover {
    padding: 0%;
    margin: 0%;
    width: 100%;
    
}

.meet-team-preview {
    width: 100%;
    display: flex;
    padding-top: 20%;
    
    padding-right: 5%;
}

#img1 {
    width: 70%;
}


#img3 {
width: 70%;
padding-left: 15%;
}

.schedule-preview {
    width: 100%;
    display: flex;
    
    padding-top: 20%;
    padding-right: 5%;
}

.merch-preview {
    width: 100%;
    display: flex;
    padding-top: 20%;
    padding-right: 5%;
    padding-bottom: 10%;
}

#img4 {
    width: 70%;
}

.container1 {
    padding-left: 10%;
    color: white;
    width: 50%;
}

.container2 {
padding-right: 10%;
color: white;
width: 50%;
}

.homepage-link {
    text-decoration: none;
    color: white;
    border: solid;
    border-width: thin;
    padding: 1%;
}

h1 {
    font-size: 300%;
    font-weight: 800;
}

h2 {
    font-size: 100%;
    font-weight: 300;
}

.merch-preview a {
    text-decoration: none;
    color: white;
    border: solid;
    border-width: thin;
    padding: 1%;
}

@media (max-width: 796px){
    .meet-team-preview {
        display: flex;
        flex-direction: column;
        align-items: right;
        padding-left: 5%;
        
    }
.container1{

padding-left: 5%;
padding-right: 5%;
}

.container2 {
    padding-left: 5%;
    padding-right: 5%;
}
       
.schedule-preview {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 0%;
   
    
}

.merch-preview {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 90%;
    padding-top: 0%;
   
    
}

#img1 {
    opacity: 0%;
}
#img3 {
    opacity: 0%;
}
#img4 {
    opacity: 0%;
}
}
